@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/maison-neue');

@font-face {
    font-family: 'Custom-1';
    src: url('../public/maison-neue-mono.otf');
}

@font-face {
    font-family: 'Custom-2';
    src: url('../public/arapey-regular.ttf');
}